[Desktop Entry]
Version=1.0
Type=Application
Name=jalv.select
Comment=Simple Interface for jalv
Comment[fr]=Interface simple pour jalv
Exec=jalv.select
Icon=lv2
Categories=AudioVideo;Audio;
Terminal=false
